@import url("https://fonts.googleapis.com/css?family=Roboto:500")

/* Fonts */
$roboto: 'Roboto', Helvetica, Arial, sans-serif
$main_font: 500 1.6rem $roboto

/* Colors */
$black-a75: #404040
$black-a35: #a6a6a6
$black-a15: #d9d9d9
$black-a5: #f2f2f2

$error: #ef5350
$warning: #ffb74d

$ws-red: #810000

$material-blue: #4fc3f7
$material-blue--active: #29b6f6

/* Breakpoints */
$tablet: "screen and (max-width: 1024px)"
$mobile: "screen and (max-width: 640px)"

/* Misc */
$duration: 350ms
$easing: cubic-bezier(0.165, 0.84, 0.44, 1)

/* Mixins */
%clearfix
  &:after
    display: table
    clear: both
    content: ""